/* :root { 
    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
  }
body::-webkit-scrollbar {
    width: 0.2em;
  }
  
  body::-webkit-scrollbar-track {
   
    background-color: var(--color-black);
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: rgb(245, 98, 44);
  outline: 1px solid black;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  } */
  .slides-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .slides-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }